*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    color: rgb(222, 219, 219);
}
body::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background: url(img/nun5.png),black;
    background-position: center;
    background-size: cover;
    z-index: -1;

}
.wrapper{
    width: 460px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border:  1px solid rgba(214, 214, 214, 0.595);
    backdrop-filter: blur(10px);
    background: linear-gradient(120deg,rgba(255, 255, 255, 0.173), transparent,rgba(255, 255, 255, 0.094));
}
.wrapper:hover{
    transition: all 5s;
}
form{
    display: flex;
    flex-direction: column;

}
h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #fff;
}
.input-field{
    position: relative;
    border-bottom: 1px solid gray;
    margin: 15px 0;
}
.input-field label{
    position: absolute;
color: #fff;
top: 50%;
left:0;
transform:  translateY(-50%);
font-size: 16px;
pointer-events: none;
transition:  0.15s ease-in-out;
}
.input-field input{
    width: 100%;
    height: 40px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label{
    font-size: 0.5rem;
    top:10px;
    transform: translateY(-110%);
    transition: all 0.298s;
}

.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 30px;
    color: #fff;
}
#remember{
    accent-color: #fff;
}
.forget label{
    display: flex;
    align-items: center;
}
.forget label p{
    margin-left: 8px;
}.wrapper a{
    color: aliceblue;
    text-decoration: underline;
}
button{
    background: #fff;
    color: black;
    font-weight: 600;
    border: none;
    padding: 12px 12px;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
button:hover{
    transform: translateY(-3px );
    transition: all 0.5s;
    background: radial-gradient(circle at center, white, rgba(215, 206, 240, 0.484));

}
.register{
    text-align: center;
    margin-top: 20px;
    color: #fff;
}